<div id="footer-option">
    <!-- <div class="container">



    </div> -->
    <!--container-->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">


                <div class="col-md-5">
                    <p>all right reserved &copy; copyright 2015 </p>
                </div>
                <div class="col-md-6 ">
                    <ul class="list-inline footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about.html">About</a></li>
                        <li class="social-nav"><a href="https://facebook.com/everyday-vegan-meals/"><i class="ion-social-facebook"></i></a></li>
                        <li class="social-nav"><a href="https://instagram.com/everyday-vegan-meals/"><i class="ion-social-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div><!--footer main end-->
