<div id="footer-option">
    <div class="container">
        <div class="row">

          <div class="col-md-3 margin-btm-20">
            <div class="footer-col">
                <h3>Social:</h3>
                <ul class=" list-inline social-btn">
                    <li><a href="https://www.linkedin.com/in/dzvinkamytsyk"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Connect on LinkedIn"></i></a></li>
                    <li><a href="https://github.com/dzvinka-mytsyk"><i class="ion-social-github" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On GitHub"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/+DzvinkaMytsyk"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                </ul>
            </div><!--footer social col-->
          </div>

            <div class="col-md-4 margin-btm-20">
                <div class="footer-col">
                    <h3>contact info</h3>
                    <p><i class="ion-home"></i> Berlin, Germany</p>
                    <!-- <p><i class="ion-iphone"></i> </p> -->
                    <p><i class="ion-email"></i> dzvinka.mytsyk.contact@gmail.com</p>
                </div>
                <div class="space-20"></div>

            </div><!--col-4 end-->

            <div class="col-md-5">
                <div class="footer-col">
                    <h3>Contact me:</h3>
                    <form id="contact_form" action="" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <input id="contact_form_name" name="sendersName" type="text"
                                       class="form-control" placeholder="Name*" autocomplete="off"
                                       required/>
                            </div>
                            <div class="col-md-6">
                                <input id="contact_form_email" name="sendersEmail" type="email"
                                       class="form-control" placeholder="Email*" autocomplete="off"
                                       required/>
                            </div>
                            <div class="col-md-12">
                                <input id="contact_form_subject" name="messageSubject" type="text"
                                       class="form-control" placeholder="Subject*" autocomplete="off"
                                       required/>
                            </div>
                            <div class="col-md-12">
                                <textarea id="contact_form_message" name="message"
                                          class="form-control" placeholder="Massage*" rows="5" autocomplete="off"
                                          required></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button id="contact_form_submit" type="submit" class="btn btn-lg btn-white">Send massege</button>
                                <button id="contact_form_submitting" style="display: none;" disabled="disabled" class="btn btn-lg btn-white">Sending...</button>
                            </div>
                        </div>
                    </form>
                    <div id="contact_form_success" style="display: none;">
                      Message was sent. Would you like to send <a href="#" onclick="footerContactForm.showContactForm(); return false;">another one</a>?
                    </div>
                    <div id="contact_form_failure" style="display: none;">
                      Unfortunately, message was not sent. Would you like to <a href="#" onclick="footerContactForm.showContactForm(); return false;">try again</a>?
                    </div>
                </div>
            </div><!--get in touch col end-->

            <!--latest post col end-->
        </div><!--footer main row end-->


    </div><!--container-->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1 footer-logo">
                    <!-- <a href="/index.html">
                        <img src="/assets/img/logo-white.png" alt="">
                    </a> -->
                </div>
                <div class="col-md-5">
                    <p>all right reserved &copy; copyright 2015 </p>
                </div>
                <div class="col-md-6 ">
                    <ul class="list-inline footer-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/portfolio.html">Portfolio</a></li>
                        <li><a href="/blog.html">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div><!--footer main end-->
