<div class="col-md-4">
<hr class="sidebar-top">
   <div class="sidebar-box">
      <h4>recent post</h4>

      {% for post in site.posts offset:1 limit:3 %}

      <div class="recent">
          <span>
              <img src="{{ post.blogpicurl }}" class="img-responsive" alt="">
          </span>
          <p><a href="{{ post.url | prepend: site.baseurl }}" class="hover-color">{{ post.title }}</a></p>
          <span class="recent-date">{{ post.date | date: "%b %-d, %Y" }}</span>
       </div>
      {% endfor %}

   </div>
   <div class="clearfix"></div>
   <hr>
   <div class="sidebar-box">
       <h4>Share it:</h4>
       <ul class=" list-inline social-btn">
           <li><a href="http://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl | prepend: site.url }}&title={{ page.title }}&display=popup&ref=plugin&src=share_button"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
           <li><a href="http://twitter.com/intent/tweet?status={{ page.title }}+{{ page.url | prepend: site.baseurl | prepend: site.url }}"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
           <li><a href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
       </ul>
   </div>
   <!-- <hr> -->
</div><!--sideabr blog end -->
